<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		<div class = "card-body">
			<h3 class="card-title">Tambah Data Film</h3><br/>
			<p class="card-description">masukkan detail data</p>
			<form class="form-sample" id="form-film-tambah">
			<div class="form-group">
				<label style = "color:blue"> Kode Film</label>
				<input type = "text" class="form-control" placeholder="Masukkan Kode Film" name="kodeFilm">
			</div>	
			<div class = "form-group">
				<label style="color:blue">Nama Film</label>
				<input type="text" class="form-control" placeholder="Masukkan Nama Film" name="namaFilm">
			</div>
			<div class = "form-group">
				<label style="color:blue">Genre Film</label>
				<input type="text" class="form-control" placeholder="Masukkan Genre Film" name="genreFilm">
			</div>
			<div class = "form-group">
				<label style = "color:blue">Artis</label>
				<select class = "form-control" name ="artis">
					<option>---pilih----</option>
					<option 
					th:each = "artisModel:${artisModelList}"
					th:value="${artisModel.kodeArtis}" 
					th:text = "${artisModel.namaArtis}"></option>
				
				</select>
			</div>
			<div class = "form-group">
				<label style="color:blue">Produser Film</label>
				<input type="text" class="form-control" placeholder="Masukkan Produser Film" name="produserFilm">
			</div>
			<div class = "form-group">
				<label style="color:blue">Pendapatan Film</label>
				<input type="text" class="form-control" placeholder="Masukkan Pendapatan Film" name="pendapatanFilm">
			</div>
			<div class = "form-group">
				<label style="color:blue">Nominasi Film</label>
				<input type="text" class="form-control" placeholder="Masukkan Nominasi Film" name="nominasiFilm">
			</div>
			  
			<button type="submit" class="btn btn-success mr-2">Submit</button>
			<button class="btn btn-light" data-dismiss="modal">Cancel</button>
			</form>
		</div>
	</div>

</body>
</html>