<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lihat Detail Data</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h1 class="card-title">Detail Film</h1>
			<table class="table table-hover">
				<thead>

				</thead>
				<tbody>
					<tr>
						<th>Kode Film</th>
						<td><a th:text="${filmModel.kodeFilm}"></a></td>
					</tr>
					<tr>
						<th>Nama Film</th>
						<td><a th:text="${filmModel.namaFilm}"></a></td>
					</tr>
					<tr>
						<th>Genre Film</th>
						<td><a th:text="${filmModel.genreFilm}"></a></td>
					</tr>
					<tr>
						<th>Artis Film</th>
						<td><a th:text="${filmModel.kodeArtis}"></a></td>
					</tr>
					<tr>
						<th>Produser Film</th>
						<td><a th:text="${filmModel.produserFilm}"></a></td>
					</tr>
					<tr>
						<th>Pendapatan Film</th>
						<td><a th:text="${filmModel.PendapatanFilm}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>