<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
				<tr th:each="filmModel:${filmModelList}">
					<td><a th:text = "${filmModel.kodeFilm}"></a></td>
					<td><a th:text = "${filmModel.namaFilm}"></a></td>
					<td><a th:text = "${filmModel.genreFilm}"></a></td>
					<td><a th:text = "${filmModel.kodeArtis}"></a></td>
					<td><a th:text = "${filmModel.produserFilm}"></a></td>
					<td><a th:text = "${filmModel.pendapatanFilm}"></a></td>
					<td><a th:text = "${filmModel.nominasiFilm}"></a></td>
					<td><button class="btn btn-success mr-2" th:value = "${filmModel.kodeFilm}" id="btn-lihat">Detail</button></td>
					<td><button class="btn btn-warning mr-2" th:value = "${filmModel.kodeFilm}" id="btn-edit">Ubah</button></td>
					<td><button class="btn btn-danger mr-2"  th:value = "${filmModel.kodeFilm}" id="btn-hapus">Hapus</button></td>
	
				</tr>
</body>
</html>