<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ubah Data</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h1 class="card-title">Ubah Data Film</h1>
			<br>
			<p class="card-description">Masukkan detail data</p>
			<form class="form-sample" id="form-film-ubah">
				<div class="form-group">
					<label style="color: blue"> Kode Film </label> <input
						type="text" class="form-control"
						placeholder="Masukkan Kode Film" name="kodeFilm" th:value="${filmModel.kodeFilm}">
				</div>
				<div class="form-group">
					<label style="color: blue"> Nama Film </label> <input
						type="text" class="form-control"
						placeholder="Masukkan Nama Film" name="namaFilm" th:value="${filmModel.namaFilm}">
				</div>
				<div class="form-group">
					<label style="color: blue"> Genre Film </label> <input
						type="text" class="form-control"
						placeholder="Masukkan Nama Film" name="genreFilm" th:value="${filmModel.genreFilm}">
				</div>
				<div class="form-group">
					<label style="color: blue"> Artis Film </label>
					<select class = "form-control" name ="artis">
					<option>---pilih----</option>
					<option 
					th:each = "artisModel:${artisModelList}"
					th:value="${artisModel.kodeArtis}" 
					th:text = "${artisModel.namaArtis}"></option>
					</select>
				</div>
				<div class="form-group">
					<label style="color: blue"> Produser Film </label> <input
						type="text" class="form-control"
						placeholder="Masukkan Produser Film" name="produserFilm" th:value="${filmModel.produserFilm}">
				</div>
				<div class="form-group">
					<label style="color: blue"> Pendapatan Film </label> <input
						type="text" class="form-control"
						placeholder="Masukkan Pendapatan Film" name="pendapatanFilm" th:value="${filmModel.pendapatanFilm}">
				</div>
				<div class="form-group">
					<label style="color: blue"> Nominasi Film </label> <input
						type="text" class="form-control"
						placeholder="Masukkan Nominasi Film" name="nominasiFilm" th:value="${filmModel.nominasiFilm}">
				</div>
				<div>
					<button type="submit" class="btn btn-success mr-2">Submit</button>
					<button class="btn btn-light" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>