<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lihat Detail Data</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h1 class="card-title">Detail Artis</h1>
			<table class="table table-hover">
				<!-- <thead>
					<tr>
						<td>Kode Artis</td>
						<td>Nama Artis</td>
						<td>Jenis Kelamin</td>
						<td>Bayaran</td>
						<td>Award</td>
						<td>Negara</td>
					</tr>
				</thead> -->
				<tbody>
					<tr>
						<th>Kode Artis</th>
						<td><a th:text = "${artisModel.kodeArtis}"></a></td>
					</tr>
					<tr>
						<th>Nama Artis</th>
						<td><a th:text = "${artisModel.namaArtis}"></a></td>
					</tr>
					<tr>
						<th>Jenis Kelamin</th>
						<td><a th:text = "${artisModel.jenisKelamin}"></a></td>
					</tr>
					<tr>
						<th>Bayaran</th>
						<td><a th:text = "${artisModel.bayaran}"></a></td>
					</tr>
					<tr>
						<th>Award</th>
						<td><a th:text = "${artisModel.award}"></a></td>
					</tr>
					<tr>
						<th>Negara</th>
						<td><a th:text = "${artisModel.kodeNegara}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>