<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ubah Data</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h1 class="card-title">Ubah Data Artis</h1>
			<br>
			<p class="card-description">Masukkan detail data</p>
			<form class="form-sample" id="form-artis-ubah">
				<div class="form-group">
					<label style="color: blue"> Kode Artis </label> <input
						type="text" class="form-control"
						placeholder="Masukkan Kode Artis" name="kodeArtis" th:value="${artisModel.kodeArtis}">
				</div>
				<div class="form-group">
					<label style="color: blue"> Nama Artis </label> <input
						type="text" class="form-control"
						placeholder="Masukkan Nama Artis" name="namaArtis" th:value="${artisModel.namaArtis}">
				</div>
				<div class="form-group">
					<label style="color: blue"> Jenis Kelamin </label> 
					<br/>
					<input type="radio" name="jenisKelamin" value="Pria">Pria <br>
					<input type="radio" name="jenisKelamin" value="Wanita">Wanita
				</div>
				<div class="form-group">
					<label style="color: blue"> Bayaran </label> <input
						type="text" class="form-control"
						placeholder="Masukkan Jumlah Bayaran" name="bayaran" th:value="${artisModel.bayaran}">
				</div>
				<div class="form-group">
					<label style="color: blue"> Award </label> <input
						type="text" class="form-control"
						placeholder="Masukkan Jumlah Award" name="award" th:value="${artisModel.award}">
				</div>
				<div class="form-group">
					<label style="color: green"> Negara </label> 
					<select class="form-control" name="negara">
						<option>----Pilih Negara----</option>
						<option th:each="negaraModel:${negaraModelList}" 
						th:value="${negaraModel.kodeNegara}"
						th:text="${negaraModel.namaNegara}"></option>
					</select>
				</div>
				<div>
					<button type="submit" class="btn btn-success mr-2">Submit</button>
					<button class="btn btn-light" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>