<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lihat Detail Data</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h1 class="card-title">Detail Negara</h1>
			<table class="table table-hover">
				<tbody>
					<tr>
						<th>Kode Negara</th>
						<td><a th:text = "${negaraModel.kodeNegara}"></a></td>
					</tr>
					<tr>
						<th>Nama Negara</th>
						<td><a th:text = "${negaraModel.namaNegara}"></a></td>
					</tr>	
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>