<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List Data</title>
</head>
<body>
				<!-- ini langsung tr krn mau diarahkan ke tbody yang ada di home.html -->
				<tr th:each="negaraModel:${negaraModelList}">
				<td><a th:text = "${negaraModel.kodeNegara}"></a></td>
				<td><a th:text = "${negaraModel.namaNegara}"></a></td>
				<td><button type="button" th:value="${negaraModel.kodeNegara}" class="btn btn-success mr-2" id="btn-lihat">Lihat</button></td>
				<td><button type="button" th:value="${negaraModel.kodeNegara}" class="btn btn-warning mr-2" id="btn-edit">Edit</button></td>
				<td><button type="button" th:value="${negaraModel.kodeNegara}" class="btn btn-danger mr-2" id="btn-hapus">Hapus</button></td>
				</tr>
</body>
</html>