<!DOCTYPE html>

<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Pendaftaran CPNS</h1>
	<a th:text="${hasil_nama}"></a>
	<a th:text="${hasil_tanggal}"></a>
	<a th:text="${hasil_kota}"></a>
	<a th:text="${hasil_jk}"></a>
	<a th:text="${hasil_alamat}"></a>
</body>
</html>