<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Daftar Semua Produk</h1>
	<form action="proses_cari_kode" method="post">
		Cari Kode <input type="text" name="cari_kode"> 
		<button type="submit">Cari</button>
	</form>
	<br>
	<form action="proses_cari_produk" method="post">
		Cari Nama <input type="text" name="cari_nama"> 
		<button type="submit">Cari</button>
	</form>
	<br>
	<table border="2">
		<tr>
			<th>Kode Produk</th>
			<th>Nama Produk</th>
			<th>Harga Produk</th>
		</tr>
		<tr th:each="produkModel:${produkModelList}">
			<td><a th:text="${produkModel.kodeProduk}"></a></td>
			<td><a th:text="${produkModel.namaProduk}"></a></td>
			<td><a th:text="${produkModel.hargaProduk}"></a></td>
		</tr>
	</table>
</body>
</html>