<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Sukses Menambahkan Produk</h1>
	Kode Produk : <a th:text="${produkModel.kodeProduk}"></a> <br/>
	Nama Produk : <a th:text="${produkModel.namaProduk}"></a> <br/>
	Harga Produk : <a th:text="${produkModel.hargaProduk}"></a> <br/>
</body>
</html>