<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Menu Urut ASC</h1>
	<table border="2">
		<tr>
			<th>Kode Produk</th>
			<th>Nama Produk</th>
			<th>Harga Produk</th>
		</tr>
		<tr th:each="produkModel:${produkModelList}">
			<td><a th:text="${produkModel.kodeProduk}"></a></td>
			<td><a th:text="${produkModel.namaProduk}"></a></td>
			<td><a th:text="${produkModel.hargaProduk}"></a></td>
		</tr>
	</table>
</body>
</html>