<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Banyak Karakter</h1>
	<table>
		<tr>
			<th>Nama Karakter</th>
			<th>Level Karakter</th>
			<th>Status Karakter</th>
		</tr>
		<tr th:each="karakterModel:${karakterModelList}">
			<td><a th:text="${karakterModel.nama}"></a></td>
			<td><a th:text="${karakterModel.level}"></a></td>
			<td><a th:text="${karakterModel.status}"></a></td>
		</tr>
	</table>
</body>
</html>