<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Daftar Karyawan</h1>
	Nama : <a th:text="${hasil_nama}"></a>  <br />
	Jabatan : <a th:text="${hasil_jabatan}"></a>
</body>
</html>