<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Daftar Softdrink</h1>
	<table border="2">
		<tr>
			<th>Kode</th>
			<th>Nama</th>
			<th>Kalori</th>
		</tr>
		<tr th:each="softdrinkModel:${softdrinkModelList}">
			<td><a th:text="${softdrinkModel.kodeSoftdrink}"></a></td>
			<td><a th:text="${softdrinkModel.namaSoftdrink}"></a></td>
			<td><a th:text="${softdrinkModel.kaloriSoftdrink}"></a></td>
		</tr>
	</table>
</body>
</html>