<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Halaman Hasil Lurs</h1>
	Apa : <a th:text="${hasil_apa}"></a>
</body>
</html>