<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Daftar Coba</h1>
	<form action="proses_cari" method="post">
		Cari : <input type="text" name="cari"/>
		<button type="submit">Cari</button>
	</form>
	<br/>
	<table border="2">
		<tr>
			<th>Nama</th>
			<th>Jumlah</th>
		</tr>
		<tr th:each="cobaModel:${cobaModelList}">
			<td><a th:text="${cobaModel.namaCoba}"></a></td>
			<td><a th:text="${cobaModel.jumlahCoba}"></a></td>
		</tr>
	</table>
</body>
</html>