<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Lemparan Data Coba</h1>
	Nama : <a th:text="${cobaModel.namaCoba}"></a> <br/>
	Jumlah : <a th:text="${cobaModel.jumlahCoba}"></a>
</body>
</html>