<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Banyak Dosen Nih</h1>
	<table>
		<tr>
			<th>Nama Dosen</th>
			<th>Usia</th>
			<th>Update</th>
			<th>Hapus</th>
		</tr>
		<tr th:each="dosenModel:${dosenModelList}">
			<td><a th:text="${dosenModel.namaDosen}"></a></td>
			<td><a th:text="${dosenModel.usiaDosen}"></a></td>
			<td><a th:href="@{ubah_dosen?(namaId=${dosenModel.namaDosen})}">Link Ubah</a></td>
			<td><a th:href="@{hapus_dosen?(namaId=${dosenModel.namaDosen})}">Link Hapus</a></td>
		</tr>
	</table>
</body>
</html>