<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cari Usia Dosen</h1>
	
	<form action="proses_cari_usia_beragam" method=post>
	Usia : <select name="daftar_operator">
			<option>Pilih Operator</option>
			<option>=</option>
			<option>></option>
			<option><</option>
			<option>>=</option>
			<option><=</option>
			<option>!=</option>
		</select> 
	<input type="text" name="katakunci_usia">
	<button type="submit">Cari Usia Atuh</button>
	</form>
	<br/><br/>
	<table>
		<tr>
			<th>Nama Dosen</th>
			<th>Usia</th>
		</tr>
		<tr th:each="dosenModel:${dosenModelList}">
			<td><a th:text="${dosenModel.namaDosen}"></a></td>
			<td><a th:text="${dosenModel.usiaDosen}"></a></td>
		</tr>
	</table>
</body>
</html>