<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
	<h1>Order Dosen Lurs</h1>
	<table>
		<tr>
			<th>Nama Dosen</th>
			<th>Usia</th>
		</tr>
		<tr th:each="dosenModel:${dosenModelList}">
			<td><a th:text="${dosenModel.namaDosen}"></a></td>
			<td><a th:text="${dosenModel.usiaDosen}"></a></td>
		</tr>
	</table>
</body>
</html>